[package]
name = "scan"
version = "0.1.0"
edition = "2024"

[dependencies]
text-scanner = { git = "https://github.com/ErikBongers/text_scanner_rs.git", tag="v0.1.1" }
#text-scanner = { path="../../text_scanner_rs"}
